@import "_font.scss";
@import "_variable.scss";

body {
  background: $white;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1100px) {
  body {
  }
}

@media (max-width: 900px) {
  body {
  }
}
@media (max-width: 868px) {
  body {
  }
}

@media (max-width: 380px) {
  body {
  }
}
