@import "_font.scss";
@import "_variable.scss";

.Intro {
  // Spacing
  padding: 25rem 30rem;
  // margin: 25rem 20rem;
  // background: $purple1;

  .Intro-name {
    // Font
    font-family: $Poppins;
    font-size: size(mega-large);
    font-weight: weight(bold);
  }

  .Intro-job {
    // Font
    font-family: $Poppins;
    font-size: size(large);
    font-weight: weight(bold);
    // Font Color
    color: $primary-color;
    // Spacing
    margin: 1rem 0;
  }

  .Intro-details {
    // Font
    font-family: $Poppins;
    font-size: size(medium);
    font-weight: weight(medium);
    // Spacing
    margin: 1rem 0;

    // .Intro-detail-city{
    //   color: $primary-color;
    // }
  }
}

// Laptop Screen Size ---------
@media (max-width: 1100px) {
  .Intro {
    .Intro-name {
      // Font
    }

    .Intro-job {
      // Font

      // Spacing
    }

    .Intro-details {
      // Font

      // Spacing
    }
  }
}

// mid-size tablet Screen Size ---------
@media (max-width: 900px) {
  .Intro {
    // spacing
  }
}

// iPad / Tablet Screen size ---------
@media (max-width: 868px) {
  .Intro {
    // spacing

    .Intro-name {
      // Font
    }

    .Intro-job {
      // Font

      // Spacing
    }

    .Intro-details {
      // Font

      // Spacing
    }
  }
}

// larger Phone Screen ---------
@media (max-width: 680px) {
  .Intro {
    // Spacing

    .Intro-name {
      // Font
    }

    .Intro-job {
      // Font

      // Spacing
    }

    .Intro-details {
      // Font

      // Spacing
    }
  }
}

// Phone Screen Size ---------
@media (max-width: 380px) {
  .Intro {
    text-align: center;
    padding: 10rem 1rem 10rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);

      margin: 5rem 0 1rem 0;
      // padding: 5rem 0;
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(medium);
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(small);
      font-weight: weight(med-low);

      // Spacing
      margin: 1rem 0rem;
    }
    .fa-chevron-down {
      font-size: size(regular);

      margin: 15rem 0 0 0;

      scroll-behavior: smooth;
    }


  }
}
