@import "_font.scss";
@import "_variable.scss";
@import "_mixins";
/* */
.Card {
  // Spacing
  // padding: 0 10rem 20rem 10rem;
  // background: $black;

  .Card-title {
    // Font Styling
    font-family: $Playfair;
    font-size: size(small);
    font-weight: weight(medium);
    // color: $white;
  }

  .Card-description {
    // Font Style
    font-family: $Poppins;
    font-size: size(small);
    font-weight: weight(low);
    // Color
    // color: $white;
  }
}

// Larger Phone Screen ---------
@media (max-width: 680px) {
  .Card {
    // Spacing
    // padding: 4rem 2rem 8rem 2rem;

    .Card-title {
      // Text Styling

      // Font Styling

      // Spacing
    }

    .Card-container {
      // Spacing

      // Border Properties

      // Shadow
    }

    .Card-description {
      // Font Styling

      // Spacing
    }

    .Button-container {
      // Display
    }
    .Card-button {
      // Text Color

      // Border Styling

      // Spacing\

      // Shadow
    }
    .Card-button-link {
      // Text Color
    }
  }
}

// Phone Screen Size  ---------------------------
@media (max-width: 380px) {
  .Card {
    background: url("/images/Phone3-zip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // Text/ Font Styling
    color: $white;

    .Card-container {
      // Spacing
      margin: 0;
      padding: 20rem 1rem 13rem 1rem;

      // Shadow
      backdrop-filter: blur(10px);
    }

    .Button-container {
      // Display
      backdrop-filter: blur(10px);
    }

    .Card-button {
      // Text Color

      // Border Styling

      // Spacing\

      // Shadow
    }

    .Card-button-link {
      // Text Color/ Font Style
      text-decoration: none;
    }
  }

  .Card-1 {
    background: url("/images/Phone1-zip.jpg");
    text-align: center;
    .Card-1_title {
      /* Text Styling - Font Styling */
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(medium);
      // Spacing
    }

    .Card-1_description {
      // Font Styling
      font-size: size(small);
      font-weight: weight(med-low);
    }
  }
  .Card-2 {
    background: url("/images/CBBScreenshot.jpg");
    color: $white;
    text-align: center;

    .Card-2_container {
      backdrop-filter: blur(20px);
     
      
    }

    .Card-2_title {
      // Text Styling - Font Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(bold);
      // Spacing
    }

    .Card-2_description {
      // Font Styling
      font-size: size(small);
      font-weight: weight(medium);
      // Spacing
    }
  }
  .Card-3 {
    background: url("/images/Phone3-zip.jpg");
    text-align: center;

    .Card-3_container {
      backdrop-filter: blur(20px);
      
    }

    .Card-3_title {
      // Text Styling - Font Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(medium);
      // Spacing
    }

    .Card-3_description {
      // Font Styling
      font-size: size(small);
      font-weight: weight(med-low);
      // Spacing
    }
  }
}
