@media (max-width: 380px) {
  .Card {
    // Spacing
    // padding: 4rem 2rem 8rem 2rem;
    padding: 0 2rem 0 1rem;

    .Card-image {
      // Size
      width: 100%;
      height: auto;
      // Border Properties
      border-radius: 20px;
      // Spacing
      padding: 0;
      // shadow
      box-shadow: 12px 15px 20px -4px rgba(30, 30, 60, 0.25);
    }

    .Card-container {
      // Spacing
      // margin: 1rem 0;
      // padding: 2rem 1rem;

      // Border Properties
      border-radius: 20px;
      // Shadow
      box-shadow: 12px 15px 20px -4px rgba(30, 30, 60, 0.25);
    }

    .Card-title {
      // Text Styling
      text-align: center;
      // Font Styling
      font-size: size(small);
      font-weight: weight(regular);
      color: $black;
      // Spacing
      padding: 1rem;
    }

    .Card-description {
      // Font Styling
      font-size: size(xtra-small);
      font-weight: weight(low);
      color: $black;
      // Spacing
      padding: 1rem 0;
    }

    .Button-container {
      // Display
      display: flex;
      flex-direction: row;
    }

    .Card-button {
      // Text Color
      text-decoration: none;
      // Border Styling
      border-radius: 5px;
      // Spacing\
      padding: 5px 10px;
      margin: 0 0.5rem;
      // Shadow
      box-shadow: 12px 15px 20px -4px rgba(30, 30, 60, 0.25);
    }

    .Card-button-link {
      // Text Color/ Font Style
      font-weight: weight(med-low);
      color: $black;
      text-decoration: none;
    }
  }
}
//   display: inline-block;
//   height: 60px;
//   width: 60px;
//   float: left;
//   margin: 0 5px;
//   overflow: hidden;
//   background: #fff;
//   border-radius: 50px;
//   cursor: pointer;
//   box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
//   transition: all 0.3s ease-out;